body {
  font-family: system-ui, sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #000000;
  color: #333;
  line-height: 1.6;
}

header {
  /*text-align: center;*/
  margin-bottom: 40px;
}

h1, h2 {
  color: #ffffff;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Contenedor en fila */
.profile {
  display: flex;
  align-items: center;   /* centra verticalmente la foto con el texto */
  gap: 20px;             /* espacio entre la foto y el texto */
  margin-bottom: 30px;
}

/* Foto de perfil */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 10px;   /* cuadrada con esquinas redondeadas */
  object-fit: cover;
}

/* Info de la derecha */
.profile-info h1 {
  font-size: 3rem;       /* nombre grande */
  margin: 0;
}

.profile-info p {
  font-size: 1.2rem;     /* descripción más chica */
  color: #ffffff;
  margin: 5px 0 0 0;
}

.music-player {
  margin-top: 15px;
}

.music-player button {
  background: #007acc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.music-player input[type="range"] {
  width: 150px;
}
